*{
	padding: 0;
	margin: 0;
	text-decoration: none;
	list-style: none;
	box-sizing: border-box;
}
body{
	font-family: Verdana, Geneva, Arial, sans-serif;
	font-size: small;
}
nav{
	position: fixed;
	background: #0082e6;
	width: 100%;
	height: 90px;
}
label.logo{
	color: white;
	font-size: 1.6em;
	line-height: 90px;
	margin-left: 90px;
}
label a img{
	width: 53px;
	height: 53px;
	vertical-align: middle;
	margin-right: -5px;
}
label a:link, label a:visited, label a:hover{
	color: white;
}
nav ul{
	float: right;
	margin-right: 80px;
}
nav ul li{
	display: inline;
	line-height: 90px;
	margin: 0 20px;
}
nav ul li a{
	color: white;
	font-size: 1em;
	padding: 7px 13px;
	border-radius: 20px;
	text-transform: uppercase;
}
nav ul li a.active,nav ul li a:hover{
	background: #1b9bff;
	transition: .5s;
}
.checkbtn{
	font-size: 25px;
	color: white;
	float: right;
	margin-right: 20px;
	cursor: pointer;
	display: none;
	padding: 8px;
}
#check{
	display: none;
}
footer{
	background-color: #273443;
	clear: both;
}
footer section{
	padding: 20px 43px 50px 43px;
}
footer section section{
	float: left;
	/*margin-right: 100px;*/
	width: 33%;
}
footer section header{
	color: #a7aca1;
	font-size: 0.9em;
	margin-bottom: 15px;
	text-transform: uppercase;
}
footer section ul{
	color: white;
	font-size: 1em;
	list-style-type: none;
}
footer section ul li{
	line-height: 1.5em;
}
footer section ul li a{
	line-height: 2.0em;
	color: white;
}
footer#base{
	clear: left;
	background-color: #232f3c;
	color: #a7aca1;
	padding: 23px 100px;
	font-size: 1em;
}
@media (max-width: 1100px){
	label.logo{
		margin-left: 40px;
	}
	nav ul{
		float: right;
		margin-right: 40px;
	}
	nav ul li{
		display: inline;
		line-height: 90px;
		margin: 0 10px;
	}

}
@media (max-width: 1000px){
	nav{
		height: 80px;
	}
	label.logo{
		font-size: 1.6em;
		line-height: 78px;
		margin-left: 20px;
	}
	nav ul{
		margin-right: 10px;
	}
	nav ul li{
		line-height: 74px;
		margin: 0 2px;
	}
	nav ul li a{
		font-size: 1em;
		padding: 4px 10px;
		border-radius: 13px;
		text-transform: uppercase;
	}
}
@media (max-width: 758px){
	nav{
		position: absolute;
	}
	label.logo{
		display: none;
	}
	#check{
		display: none;
	}
	.checkbtn{
		display: block;
		margin-top: 16px;
	}
	nav ul li{
		display: block;
		margin: 30px 0;
		line-height: 40px;
	}
	nav ul li a{
		font-size: 20px;
		padding: 15px 50px;
		border-radius: 30px;
	}
	nav ul{
		position: fixed;
		width: 100%;
		height: 100vh;
		padding-bottom: 70px; 
		background: #2c3e50;
		top: 80px;
		left: -100%;
		text-align: center;
		transition: all .5s;
		overflow: auto;
	}
	nav ul li a:hover,nav ul li a.active{
		background: none;
		color:#0082e6;
	}
	#check:checked ~ ul{
		left: 0;
	}
	footer section section{
		float: left;
		/*margin-right: 100px;*/
		width: 50%;
	}
	footer section section:nth-child(3){
		width: 50%;
		clear: left;
	}
	footer section ul li{
		line-height: 2.9em;
	}
}

@media (max-width: 358px){
	footer section section:nth-child(2){
		width: 50%;
		clear: left;
	}
}