*{
	padding: 0;
	margin: 0;
	text-decoration: none;
	list-style: none;
	box-sizing: border-box;
}
body{
	font-family: Verdana, Geneva, Arial, sans-serif;
	font-size: small;
}
nav{
	position: fixed;
	background: #0082e6;
	width: 100%;
	height: 90px;
}
label.logo{
	color: white;
	font-size: 1.6em;
	line-height: 90px;
	margin-left: 90px;
}
label a img{
	width: 53px;
	height: 53px;
	vertical-align: middle;
	margin-right: -5px;
}
label a:link, label a:visited, label a:hover{
	color: white;
}
nav ul{
	float: right;
	margin-right: 80px;
}
nav ul li{
	display: inline;
	line-height: 90px;
	margin: 0 20px;
}
nav ul li a{
	color: white;
	font-size: 1em;
	padding: 7px 13px;
	border-radius: 20px;
	text-transform: uppercase;
}
nav ul li a.active,nav ul li a:hover{
	background: #1b9bff;
	transition: .5s;
}
.checkbtn{
	font-size: 25px;
	color: white;
	float: right;
	margin-right: 20px;
	cursor: pointer;
	display: none;
	padding: 8px;
}
#check{
	display: none;
}
/*The body*/
section{
	padding-top: 155px;
}
#wideIntroSection{
	display: block;
}
#smallIntroSection{
	display: none;
}
#top{
	width: 800px;
	margin: auto;
}
#left{
	width: 60%;
	padding: 125px 30px 0px 10px;
	/*border: 1px solid red;*/
}
#left h1{
	font-weight: lighter;
	font-size: 2.5em;
	line-height: 1.5em;
}
#left p{
	font-size: 1.1em;
	margin-top: 20px;
	line-height: 1.5em;
	color: #868686;
}
#left img{
	width: 200px;
	height: 77px;
	margin-top: 20px;
	margin-left: -10px;
	cursor: pointer;
}

#right{
	width: 40%;
	float: right;
	text-align: center;
	/*border: 1px solid black;*/
}
#right img{
	width: 100%;
	height: 600px;
	/*border: 1px solid pink;*/
}
#descriptionSection{
	clear: right;
	padding-top: 80px;
}
#appDescriptionSection{
	width: 48.8%;
	float: left;
	background-color: #a0c3ff;
	padding: 80px 40px 0px 40px;
	color: black;
	text-align: center;
}
#appDescriptionSection h1{
	font-weight: lighter;
	font-size: 2.0em;
	line-height: 1.3em;
}
#appDescriptionSection p{
	margin: 20px 0px 60px 0px;
	font-size: 1em;
	line-height: 1.6em;
}
#appDescriptionSection p a{
	color: #0082e6;
}
#encryptionDescriptionSection{
	width: 48.8%;
	float: right;
	background-color: #c3d9ff;
	padding: 80px 40px 80px 40px;
	color: black;
	text-align: center;
}
#encryptionDescriptionSection h2{
	font-weight: lighter;
	font-size: 1.0em;
	color: #616161;
}
#encryptionDescriptionSection h1{
	font-weight: lighter;
	font-size: 2.0em;
	line-height: 1.3em;
	margin-top: 10px;
}
#encryptionDescriptionSection p{
	margin: 20px 0px 25px 0px;
	font-size: 1em;
	line-height: 1.6em;
}
@media (max-width: 1100px){
	label.logo{
		margin-left: 40px;
	}
	nav ul{
		float: right;
		margin-right: 40px;
	}
	nav ul li{
		display: inline;
		line-height: 90px;
		margin: 0 10px;
	}

}
@media (max-width: 1000px){
	nav{
		height: 80px;
	}
	label.logo{
		font-size: 1.6em;
		line-height: 78px;
		margin-left: 20px;
	}
	nav ul{
		margin-right: 10px;
	}
	nav ul li{
		line-height: 74px;
		margin: 0 2px;
	}
	nav ul li a{
		font-size: 1em;
		padding: 4px 10px;
		border-radius: 13px;
		text-transform: uppercase;
	}
	section{
		padding-top: 145px;
	}
	#top{
		width: 660px;
		margin: auto;
	}
	#left{
		width: 50%;
		padding: 90px 15px 0px 5px;
		/*border: 1px solid red;*/
	}
	#left h1{
		font-weight: lighter;
		font-size: 2.3em;
		line-height: 1.4em;
	}
	#left p{
		font-size: 1.1em;
		margin-top: 20px;
		line-height: 1.5em;
		color: #868686;
	}
	#left img{
		width: 200px;
		height: 77px;
		margin-top: 20px;
		margin-left: -10px;
		cursor: pointer;
	}
	#right{
		width: 50%;
		float: right;
		text-align: center;
		/*border: 1px solid black;*/
	}
	#right img{
		width: 85%;
		height: 500px;
		/*border: 1px solid pink;*/
	}
}
@media (max-width: 758px){
	nav{
		position: absolute;
	}
	label.logo{
		display: none;
	}
	#check{
		display: none;
	}
	.checkbtn{
		display: block;
		margin-top: 16px;
	}
	nav ul li{
		display: block;
		margin: 30px 0;
		line-height: 40px;
	}
	nav ul li a{
		font-size: 20px;
		padding: 15px 50px;
		border-radius: 30px;
	}
	nav ul{
		position: fixed;
		width: 100%;
		height: 100vh;
		padding-bottom: 70px; 
		background: #2c3e50;
		top: 80px;
		left: -100%;
		text-align: center;
		transition: all .5s;
		overflow: auto;
	}
	nav ul li a:hover,nav ul li a.active{
		background: none;
		color:#0082e6;
	}
	#check:checked ~ ul{
		left: 0;
	}

	/*the body*/
	section{
		padding-top: 80px;
	}
	#wideIntroSection{
		display: none;
	}
	#smallIntroSection{
		display: block;
		text-align: center;
		background-color: #0082e6;
		padding: 0px 40px;
	}
	#smallIntroSection span img{
		width: 90px;
		height: 90px;
	}
	#smallIntroSection h1{
		color: white;
		font-size: 1.6em;
		line-height: 1.4em;
		font-weight: lighter;
		margin-top: 10px;
	}
	#smallIntroSection p{
		color: white;
		font-size: 1em;
		line-height: 1.8em;
		margin-top: 20px;
	}
	#smallIntroSection a img{
		width: 200px;
		height: 77px;
		margin-top: 40px;
		cursor: pointer;
	}
	#smallIntroSection img{
		margin-top: 40px;
	}
	#descriptionSection{
		padding-top: 0px;
	}
}