section#body{
	padding-top: 155px;
}
#wideIntroSection{
	display: block;
}
#smallIntroSection{
	display: none;
}
#top{
	width: 800px;
	margin: auto;
}
#left{
	width: 60%;
	padding: 125px 30px 0px 10px;
	/*border: 1px solid red;*/
}
#left h1{
	font-weight: lighter;
	font-size: 2.5em;
	line-height: 1.5em;
}
#left p{
	font-size: 1.1em;
	margin-top: 20px;
	line-height: 1.5em;
	color: #868686;
}
#left img{
	width: 200px;
	height: 77px;
	margin-top: 20px;
	margin-left: -10px;
	cursor: pointer;
}
#right{
	width: 40%;
	float: right;
	text-align: center;
	/*border: 1px solid black;*/
}
#right img{
	width: 100%;
	height: 600px;
	/*border: 1px solid pink;*/
}
#wideDescSection{
	display: block;
	clear: right;
	padding-top: 80px;
}
#smallDescSection{
	display: none;
}
#wideDescSection table{
	width: 100%;
}
#leftColumn{
	width: 50%;
	background-color: #a0c3ff;
	border-right: 7px solid white;
}
#leftColumn div{
	padding: 70px 60px 0px 60px;
	color: black;
	text-align: center;
}
#leftColumn div h1{
	font-weight: lighter;
	font-size: 2.0em;
	line-height: 1.3em;
}
#leftColumn div p{
	margin: 20px 0px 60px 0px;
	font-size: 1em;
	line-height: 1.6em;
}
#leftColumn div p a{
	color: #0082e6;
}
#rightColumn{
	width: 50%;
	background-color: #c3d9ff;
	border-left: 7px solid white;
}
#rightColumn div{
	padding: 70px 60px 0px 60px;
	color: black;
	text-align: center;
}
#rightColumn div h2{
	font-weight: lighter;
	font-size: 1.0em;
	color: #616161;
}
#rightColumn div h1{
	font-weight: lighter;
	font-size: 2.0em;
	line-height: 1.3em;
	margin-top: 10px;
}
#rightColumn div p{
	margin: 20px 0px 25px 0px;
	font-size: 1em;
	line-height: 1.6em;
}
#exploreFeaturesSection{
	margin: 70px 0px 70px 0px;
	text-align: center;
}
#exploreFeaturesSection button{
	padding: 20px 40px;
	border: 2px solid #0082e6;
	font-size: 2.0em;
	color: #0082e6;
	background-color: transparent;
	border-radius: 40px;
}
#exploreFeaturesSection button:hover{
	border: 2px solid #81e8ee;
	color: #81e8ee;
	cursor: pointer;
}

@media (max-width: 1000px){
	section#body{
		padding-top: 145px;
	}
	#top{
		width: 660px;
		margin: auto;
	}
	#left{
		width: 50%;
		padding: 90px 15px 0px 5px;
		/*border: 1px solid red;*/
	}
	#left h1{
		font-weight: lighter;
		font-size: 2.3em;
		line-height: 1.4em;
	}
	#left p{
		font-size: 1.1em;
		margin-top: 20px;
		line-height: 1.5em;
		color: #868686;
	}
	#left img{
		width: 200px;
		height: 77px;
		margin-top: 20px;
		margin-left: -10px;
		cursor: pointer;
	}
	#right{
		width: 50%;
		float: right;
		text-align: center;
		/*border: 1px solid black;*/
	}
	#right img{
		width: 85%;
		height: 500px;
		/*border: 1px solid pink;*/
	}
}
@media (max-width: 758px){
	/*the body*/
	section#body{
		padding-top: 80px;
	}
	#wideIntroSection{
		display: none;
	}
	#smallIntroSection{
		display: block;
		text-align: center;
		background-color: #0082e6;
		padding: 0px 40px;
	}
	#smallIntroSection span img{
		width: 90px;
		height: 90px;
	}
	#smallIntroSection h1{
		color: white;
		font-size: 1.6em;
		line-height: 1.4em;
		font-weight: lighter;
		margin-top: 10px;
	}
	#smallIntroSection p{
		color: white;
		font-size: 1em;
		line-height: 1.8em;
		margin-top: 20px;
	}
	#smallIntroSection a img{
		width: 200px;
		height: 77px;
		margin-top: 40px;
		cursor: pointer;
	}
	#smallIntroSection img{
		margin-top: 40px;
	}
	#wideDescSection{
		display: none;
	}
	#smallDescSection{
		display: block;
	}
	#smallDescSection div:nth-child(1){
		width: 100%;
		background-color: #a0c3ff;
		padding: 70px 60px 0px 60px;
		color: black;
		text-align: center;
	}
	#smallDescSection div:nth-child(1) h1{
		font-weight: lighter;
		font-size: 2.0em;
		line-height: 1.3em;
	}
	#smallDescSection div:nth-child(1) p{
		margin: 20px 0px 60px 0px;
		font-size: 1em;
		line-height: 1.6em;
	}
	#smallDescSection div:nth-child(1) p a{
		color: #0082e6;
	}
	/*0000*/
	#smallDescSection div:nth-child(2){
		width: 100%;
		background-color: #c3d9ff;;
		padding: 70px 60px 70px 60px;
		color: black;
		text-align: center;
	}
	#smallDescSection div:nth-child(2) h2{
		font-weight: lighter;
		font-size: 1.0em;
		color: #616161;
	}
	#smallDescSection div:nth-child(2) h1{
		font-weight: lighter;
		font-size: 2.0em;
		line-height: 1.3em;
		margin-top: 10px;
	}
	#smallDescSection div:nth-child(2) p{
		margin: 20px 0px 25px 0px;
		font-size: 1em;
		line-height: 1.6em;
	}
}